
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
}  
.title {
    display: flex;
}


