main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 1000px;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    max-width: 80%;
}
footer {
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: var(--header-height);
}  
.title {
    display: flex;
}

h2 {
    font-size: 1.8;
    font-weight: bold;
}

.title-image {
    width: 20px;
    height: 40px;
    margin: 2px;
}

.delicious {
    display: flex;
    align-items: center;
}
#print {
    margin-right: 20px;
}